.style-1, .style-2{
    font-size: 20px;
    font-weight: bold;
    color:blue
}

.style-2{
    color: green;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }